section {
    width: 50%;
    max-width: 600px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    background-color: white;
    border: 2px solid;
    border-radius: 3px;
}

h2{
    margin:0;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: rgb(116, 116, 116);
    width: 100%;
    text-align: center;
    border-bottom: 2px solid;

}

.container{
    height: 400px;
    overflow: scroll;
}

.textbox{
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(116, 116, 116);



}

textarea{
    min-width: 430px;
    min-height: 150px;
}


button{
    background-color: rgb(0, 81, 255);
    color:rgb(0, 0, 0);

    
}

.mensagem {
    margin: 2em 0 0;
    margin-left: 5px;
    padding: 10px;
    width: 500px;
    border: 1px solid;
    border-radius:5px;
}

.excluir{
    background-color:red;
}

.editar{
    background-color:orange;
}
